body {
  background-color: #212223;
  overflow-x: hidden;
}

#page1 .hunliyaoqing {
  width: 70.5px;
  height: 14.5px;
  background-image: url('http://www.chenfangwei.xyz/images/hunliyaoqing.png');
  background-size: cover;
  margin: 0 auto;
  margin-top: 2rem;
}

#page1 .wedding {
  width: 179.5px;
  height: 40.5px;
  background-image: url('http://www.chenfangwei.xyz/images/wedding-invitation-of.png');
  background-size: cover;
  margin: 0 auto;
  margin-top: 0.9rem;
}

#page1 .name {
  overflow: hidden;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  margin: 1rem auto 1.5rem;
}

#page1 .name-biaojie {
  display: inline-block;
  width: 43.5px;
  height: 31px;
  background-image: url('http://www.chenfangwei.xyz/images/01.png');
  background-size: cover;
  float: left;
}

#page1 .sq {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: rotate(45deg);
}

#page1 .sq.green-sq {
  background-color: #7bd6ea;
}

#page1 .sq.pink-sq {
  background-color: #f78ce3;
}

#page1 .name-lidada {
  display: inline-block;
  width: 37px;
  height: 31.5px;
  background-image: url('http://www.chenfangwei.xyz/images/02.png');
  background-size: cover;
  float: right;
}

#page1 .protagonist {
  width: 100%;
  text-align: center;
  word-spacing: -14px;
  text-indent: 3.1rem;
  white-space: nowrap;
}


#page1 .protagonist--biaojie {
  display: inline-block;
  position: relative;
  width: 135.5px;
  height: 341px;
  background-image: url('http://www.chenfangwei.xyz/images/april.png');
  background-size: cover;
}

#page1 .protagonist--biaojie .heart {
  position: absolute;
  width: 53.5px;
  height: 48px;
  background-image: url('http://www.chenfangwei.xyz/images/heart.png');
  background-size: cover;
  left: 53px;
  top: 166px;
  animation-name: quiver;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#page1 .protagonist--lidada {
  position: relative;
  display: inline-block;
  width: 167.5px;
  height: 359.5px;
  background-image: url('http://www.chenfangwei.xyz/images/leesan.png');
  background-size: cover;
}

#page1 .protagonist--lidada .radio {
  position: absolute;
  width: 68px;
  height: 26px;
  background-image: url('http://www.chenfangwei.xyz/images/radio.png');
  background-size: cover;
  left: 47px;
  top: 186px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#page1 .join-button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  width: 203px;
  height: 50.5px;
  background-image: url('http://www.chenfangwei.xyz/images/button.png');
  background-size: cover;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin-top: 2rem;
}

#page1 .join-button:active {
  opacity: 0.8;
}

@media only screen and (max-height: 600px) {
  #page1 .protagonist {
    transform: scale(0.8, 0.8);
    text-indent: 2.3rem;
    margin-top: -50px;
  }

  #page1 .join-button {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  #page1 .bottom-ph {
    height: 10px;
    width: 100%;
  }
}


@keyframes quiver {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes move {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
