body {
  background-color: #212223;
  overflow-x: hidden;
}

.thank {
  width: 190.5px;
  height: 40.5px;
  background-image: url('/images/thankyou.png');
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20.25px;
  margin-left: -95.25px;

}

.heart {
  width: 19.23px;
  height: 16.923px;
  background-image: url('/images/heart-small.png');
  background-size: cover;
  position: absolute;
  left: 154px;
  top: -1px;
  animation-name: quiver;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes quiver {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
